@import '@assets/styles/variables';

.socials {
  display: flex;
  align-items: flex-end;

  gap: 0.7rem;
}

.socialLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: transparent;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.75;
  }
}

.icon {
  width: 17px;
  height: 17px;
  display: block;
  transition: filter 0.2s ease;
}

.socialLink:hover .icon {
  filter: brightness(0) invert(1);
}
