@import "@assets/styles/variables";

.cta {
  padding: 4rem 1.5rem 11rem;
  background-color: #ffffff;
  color: #141416;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  font-family: $font-poppins;
  background-color: #0f0f0f;
  color: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem 1.5rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
  position: relative;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
}

.subtitle {
  font-size: 0.6rem;
  color: #D4D4D4;
  margin: 0;
}

.actions {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 0.7rem;
  cursor: pointer;

}

.primaryButton {
  border: none;
  background-color: #ffffff;
  color: #0f0f0f;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.secondaryButton {
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.visual {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 45%);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.image {
  width: 250px;
  height: 130px;
  border-radius: 0.6rem;
  object-fit: cover;
  // box-shadow: 0 0 30.81px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .cta {
    padding: 5rem 2.5rem 7rem;
  }

  .content {
    width: 560px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 23px 23px 23px 47px;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .textBlock {
    flex: 1;
    text-align: left;
    gap: 1.5rem;
  }

  .visual {
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    width: auto;
    flex-shrink: 0;
  }

  .image {
    width: 263px;
    height: 129px;
  }

  .actions {
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .cta {
    padding: 0;
  }

  .container {
    max-width: none;
    width: 100%;
  }

  .content {
    box-sizing: border-box;
    width: calc(100vw - 300px);
    max-width: 1246px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 90px 0;
  }

  .textBlock {
    flex: 1;
    text-align: left;
    gap: 1.5rem;
  }

  .visual {
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    width: auto;
    flex-shrink: 0;
  }

  .image {
    width: 263px;
    height: 186px;
  }
}
